/**
 * @file
 * Tables.
 */

@import "../base/variables.css";

table {
  display: block;
  overflow-x: auto;
  width: fit-content;
  max-width: 100%;
  margin: var(--sp2) 0;
  border-spacing: 0;
  color: var(--color--gray-10);
  border: 0;
  border-collapse: collapse;
  font-family: var(--font-sans);
  font-size: 16px;
  line-height: var(--sp1-5);
  -webkit-overflow-scrolling: touch;

  .content-bleed & {
    width: 100%;
  }

  caption {
    margin-bottom: var(--sp1);
    text-align: left;
    color: var(--color--gray-10);
    font-family: var(--font-serif);
    font-size: 14px;
    font-style: italic;
    line-height: var(--sp);
  }

  tr {
    &:last-child {
      td {
        border-bottom: 0;
      }
    }
  }

  td,
  th {
    padding: var(--sp1) var(--sp1) var(--sp1) 0;
    vertical-align: top;
  }

  th {
    margin: 0;
    text-align: left;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: var(--color--gray-0);
    border-bottom: 2px solid var(--color--blue-50);
    font-family: var(--font-sans);
    font-size: 14px;
  }

  td {
    min-width: 250px;
    white-space: normal;
    border-bottom: 2px solid var(--color--gray-40);
  }
}

/* When a table is placed in the body/text content area */
.content-bleed {
  @media (--grid-md) {
    width: calc(12 * var(--grid-col-width--md) + 9 * var(--grid-gap--md));
  }

  @media (--lg) {
    width: calc(10 * var(--grid-col-width--lg) + 9 * var(--grid-gap--lg));
  }

  @media (--nav) {
    width: calc(10 * var(--grid-col-width--nav) + 9 * var(--grid-gap--nav));
  }

  @media (--grid-max) {
    width: calc(10 * var(--grid-col-width--max) + 9 * var(--grid-gap--max));
  }
}

/* Set Horzontal Scroll gradient direction based on lanuage direction.  */
[dir=ltr] {
  table {
    background:
      /* Left start and right start 'inside' container colors (they overlap the shadows). */
      linear-gradient(90deg, white 0%, rgba(255,255,255,0)),
         -gradient(-90deg, white 0%, rgba(255,255,255,0)) 100% 0,
            -gradient(
              s      t 0% 50%,
              2),        
                                        ),
        r       ent(
                 de       50%,
                 0.2),
                      ,         ) 100% 0%;

    @media screen and (-ms-high-contrast: active) {
      background: none; /* FF & Edge's high contrast does show the background image, so we hide it. */
    }
  }
}

[dir=rtl] {
  table {
    background:
      /* Right start and Left start 'inside' container colors (they overlap the shadows). */
      linear-gradient(-90deg, white 0%, rgba(255,255,255,0)),
         -gradient(90deg, white 0%, rgba(255,255,255,0)) 0 100%,
            -gradient(
              s      t 0% 50%,
              2),        
                                        ),
        r       ent(
                 de       50%,
                 0.2),
                      ,         ) 100% 0%;
  }
}

[dir=ltr],
[dir=rtl] {
  table {
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: local, local, scroll, scroll;
    background-size: 100px 100%, 100px 100%, 14px 100%, 14px 100%;
  }
}
