/**
 * @file
 * Buttons.
 */

@import "../base/variables.css";

:root {
  --button-border-width: var(--form-element-border-size-base);
}

.button {
  display: inline-block;
  margin: var(--sp1) var(--sp1) var(--sp1) 0;
  padding: calc(var(--sp0-5) - (var(--button-border-width) / 2)) var(--sp1);
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: var(--color--blue-20);
  border: var(--button-border-width) solid var(--color--blue-20);
  border-radius: var(--border-radius-base);
  background-color: var(--color--white);
  font-size: var(--font-size-s);
  font-weight: 700;
  line-height: var(--line-height-s);
  appearance: none;
  -webkit-font-smoothing: antialiased;

  &:hover,
  &:focus {
    text-decoration: none;
    color: var(--color--blue-50);
    border-color: var(--color--blue-50);
  }

  &:focus {
    outline: var(--outline--base);
    box-shadow: var(--shadow-focusable-with-outline);
  }

  &:active {
    color: var(--color--blue-20);
    border-color: var(--color--blue-20);
    box-shadow: none;
  }

  &:disabled,
  &.is-disabled {
    cursor: default;
    color: var(--color--gray-70);
    border-color: var(--color--gray-70);
  }

  /* No margin if is part of a menu. */
  .menu & {
    margin: 0;
  }
}

.button--primary {
  color: var(--color--white);
  background-color: var(--color--blue-20);

  &:hover,
  &:focus {
    color: var(--color--white);
    background-color: var(--color--blue-50);
  }

  &:active {
    color: var(--color--white);
    background-color: var(--color--blue-20);
  }

  &:disabled,
  &.is-disabled {
    color: var(--color--white);
    background-color: var(--color--gray-70);
  }
}
