{#
/**
 * @file
 * Olivero's theme Get Started section.
 *
 * This section is enabled when no front page content has been populated.
 *
 * TODO:
 * - Move this markup into Drupal's core Frontpage Views.
 * - This is just an indicative content of what we think the "no content" section will look like. We'll need to work on getting a real copy finalized/approved.
 */
#}

<div class="text-content">
  <p><em>You haven’t created any frontpage content yet.</em></p>
  <h2>Let’s Get Started</h2>
  <p>Get started by following the <a href="#">Drupal User Guide</a>, or by simply adding <a href="#">content</a>.</p>
  <h2>What Am I looking At?</h2>
  <p>This is the “frontpage” of your new Drupal site. Out of the box, your site is just this single page. You can edit this page, or create a new page by adding content. Once you’ve added other pages, you can add them to the site menu at the top, or even make one of them your frontpage. Good luck, and happy site building!</p>
  <h2>Have questions?</h2>
  <p>Check out our <a href="#">Drupal User Forum</a>, or consult our online <a href="#">documentation</a>.</p>
</div>
