<div class="aa-report-user-deliveries-total-block">
    <p>{{ 'Total users'|t }}: <strong>{{ total_users }}</strong></p>
    <p>{{ 'Total deliveries'|t }}: <strong>{{ total_deliveries }}<strong></p>
</div>